/* Use for postioning, remove before going live

* {
  outline: red 1px solid;
}

 */

body {
	background-color: #BDBDBD;
}

/* title */

.title h1 {
	background-color: white;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	padding: 25px;
	font-size: 45px;
	margin-top: 45px;
}

.title h2 {
	background-color: white;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	padding: 10px;
}

.main {
	text-align: center;
	background-color: white;
	padding-left: 100px;
	min-width: 1200px;
	height: 700px;
}

/* input box */

input[type=newItem] {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
	color:#000;
	background-color:#ddd;
	width: 500px;
}

/* add button */

.addbutton {
	font-family: 'Fira Sans', sans-serif;
	cursor: pointer;
	font-size: 1em;
	color:#000;
	background-color:#ddd;
}

/* list items */

.main .items li {
	font-family: 'Fira Sans', sans-serif;
	width: 521px;
	background-color:#ddd;
	font-size: 1em;
	padding: 1em;
	text-align: left;
	margin: 0 auto;

}

.done {
	text-decoration: line-through;
}